# ===== Python =====
__pycache__/
*.egg-info/
__init__.py
dist/
build/
# ===== Virtual Environment =====
venv/
env/
.venv/
ENV/

# ===== Logs & Temp Files =====
logs/
plugins/
tests/
data/
*.log
*.tmp
*.bak
*.csv

# ==== Config Files =====
config/
